<h1>New Departamento</h1>

<%= render 'form', departamento: @departamento %>


<div class="field">
    <div class="col-sm-8">
        <div class="form-group">
            <%= link_to 'Back', departamentos_path, class:"btn btn-primary" %>
        </div>
    </div>  
</div>  