<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @departamento.nome %>
</p>


<div class="field">
    <div class="col-sm-8">
        <div class="form-group">
          <%= link_to 'Editar', edit_departamento_path(@departamento), class:"btn btn-primary" %>
        </div>
    </div>
</div>

<div class="field">
    <div class="col-sm-8">
        <div class="form-group">
            <%= link_to 'Voltar', departamentos_path, class:"btn btn-secondary" %>
        </div>
    </div>
</div>